{% if status == "open" %}❌*Обнаружена* проблема на: *{{ resource }}*
{% elif status == "closed" %}✅*Решена* проблема на: *{{ resource }}*
{% endif %}
*Параметры проблемы:*
  alertname: `{{ event | replace("_","\_") }}`
  resource: `{{ resource }}`{% if service |length %}
  service: {{ service }}{% endif %}
  Описание: {{ text }}
{% if value|length and value!='--' %}  Значение: {{ value }}
{% endif %}{% if severity == 'major' -%}  Приоритет: *High* 🆘
{% elif severity == "critical" %}  Приоритет: *Blocker* 🚫
{% elif severity == "warning" %}  Приоритет: *Warning* ❗
{% else %}  Сосстояние: *{{ severity.capitalize() }}* 👍
{% endif %}
*Время начала:* {{ create_time.strftime('%d-%m-%Y %H:%H') }}
{% if status == "closed" -%}*Время решения:* {{ update_time.strftime('%d-%m-%Y %H:%M') }}
{% endif %}{% if status == "open" -%}
{% if attributes.runbook|length -%}*RunBook:* [📗 Book]({{ attributes.runbook | replace(")","\)") }}){% else %}*RunBook:* [📗 Book]({{ attributes.runBookUrl | replace(")","") | replace("(","") }}){% endif %}
{% if attributes.grurls|length -%}*Дашборд:* [📈 Grafana]({{ attributes.grurls }})
{% elif attributes.ruleUrl|length -%}*Дашборд:* [📈 Grafana]({{ attributes.ruleUrl }})
{% elif attributes.incident_url|length -%}*Инцедент:* [📊 NewRelic]({{ attributes.incident_url }}){% endif %}
{% endif %}
